# Get first names and their gender

In [16]:
import requests
import pandas as pd

In [2]:
AUTH = "../data/author.csv"
auth = pd.read_csv(AUTH)

## A little of text pre-processing

In [11]:
auth = auth[~auth['Name-First'].isna()]

In [6]:
auth['Name-Last'].head()

0          Nei
1    NDIKUMANA
2       Ndukwe
3        North
4     Nicodano
Name: Name-Last, dtype: object

In [5]:
auth['Name-First'].head()

0     Stephen
1      LEONCE
2    Obiageri
3    Douglass
4    Giovanna
Name: Name-First, dtype: object

In [12]:
auth['first_name'] = auth['Name-First'].apply(lambda x: x.lower())

In [15]:
unames = auth['first_name'].unique()

In [46]:
np.savetxt('../data/unique_names.txt', unames, delimiter='\n', fmt='%s')

In [52]:
with open('../data/unique_names.txt') as f:
    names = f.read().splitlines()

In [47]:
!head ../data/unique_names.txt

stephen
leonce
obiageri
douglass
giovanna
matthias
george
mike
hector
frank

## Using gender.io API

In [17]:
url =  "https://genderapi.io/api/"
key = "5ebaef77756fae0f880a3702"

In [18]:
params = {'name': 'michael',
         'key': key}
res = requests.get(url, params=params)

In [20]:
params = {'name': 'rodrigo',
         'key': key}
res2 = requests.get(url, params=params)

In [36]:
params

{'name': 'rodrigo', 'key': '5ebaef77756fae0f880a3702'}

In [41]:
%%time
data = []
for name in unames[:30]:
    params['name'] = name
    res = requests.get(url, params=params)
    vals = [res.json()[k] for k in header]
    data.append(vals)
df = pd.DataFrame(data, columns=header)

CPU times: user 665 ms, sys: 508 Âµs, total: 666 ms
Wall time: 11.7 s

In [43]:
len(unames) / 30

694.5

In [44]:
(11.7 * 694) / 60

135.32999999999998

In [42]:
df

            name             q  gender  total_names  probability country
0        stephen       stephen    male        26583          100      US
1         leonce        leonce    male           21           95      US
2       obiageri      obiageri  female            2          100      US
3       douglass      douglass    male           62           98      US
4       giovanna      giovanna  female         7655           99      BR
5       matthias      matthias    male         4995          100      BE
6         george        george    male        32044           99      US
7           mike          mike    male        83242           99      US
8         hector        hector    male        15607          100      MX
9          frank         frank    male        24039           99      US
10         rabia         rabia  female        30045           99      TR
11        trilce        trilce  female           12          100      MX
12        shunya        shunya    male           81           93      JP
13        volker        volker    male          533          100      DE
14       tatiana       tatiana  female        19892          100      BR
15     alexandra     alexandra  female        30039           99      US
16        dmitry        dmitry    male        14820          100      RU
17           huy           huy    male         1082           97      VN
18        hassan        hassan    male         7879           99      US
19        andras        andras    male          572           98      HU
20           ulf           ulf    male          377           99      DE
21      mitchell      mitchell    male         3872           98      US
22    konstantin    konstantin    male         5806          100      RU
23     salvatore     salvatore    male         3352           99      IT
24       mohamad       mohamad    male        13667           99      MY
25         jonas         jonas    male        10374          100      BR
26     alexander     alexander    male        37463           99      RU
27     yoshinori     yoshinori    male          460          100      JP
28  thirukumaran  thirukumaran    male            5          100      MY
29       eleanya       eleanya    male            1          100      US